.attribute-editor{
	background-color: white;
	border: 0.5px solid #666666;
	padding: 0 10px;
	display: inline-block;

	visibility: hidden;
	display: inline-block;
	position: fixed;

	top: 600px;
	left: 1000px;
}

.attribute-editor.show{
	visibility: visible;
}

.attribute-editor .ae-text-box{

}

.attribute-editor .title{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 8px 5px;
}

.attribute-editor .ae-input{
	padding: 5px 0;
	color: black;
	text-align: right;
	border: 2px solid border;
}

.attribute-editor #ae-delay-check{
	padding: 10px 0;
	color: black;
	text-align: left;
	border: 2px solid border;
}

.attribute-editor #ae-details{
	text-align: center;
}

.attribute-editor .button-container{
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}

.attribute-editor .ae-button{
	float: left;
	display: flex;
	justify-content: space-between;

	width: 50px;
	height: 50px;
}

.attribute-editor #rotate{
	background-image: url(../img/attribute-editor/rotate.png);
}

.attribute-editor #delete{
	background-image: url(../img/attribute-editor/delete.png);

}

.attribute-editor #save{
	background-image: url(../img/attribute-editor/save.png);
}

.attribute-editor #flip{
	background-image: url(../img/attribute-editor/flip.png);

}

