.quizlet-maker{
	position: fixed;
	background-color: green;
	padding: 20px 20px;
	display: inline-block;

	visibility: hidden;
	display: inline-block;
	position: fixed;

	border-radius: 20px;

	overflow: auto;
}

.quizlet-maker.show{
	visibility: visible;
}

.quizlet-maker .title{
	font-size: 20px;
	text-align: center;
}

.quizlet-maker #constraints .constraint-textbox{
	width: 4em;
}

.quizlet-maker #constraints .constraint-input-div{
	padding: 10px 3px;
}

.quizlet-maker #constraints .constraint-input-right{
	padding: 0 0 0 30px;
	float:right;
}

.quizlet-maker .non-constraints{
	padding: 10px 0;
}

.quizlet-maker .non-constraints div{
	padding: 5px 0;
}

.quizlet-maker .non-constraints span{
	
}

.quizlet-maker .non-constraints input{
	float:right;
	width: calc(100% - 120px);
}

.quizlet-maker #div-submit{
	float:right;
}