.submit-menu{
	visibility: hidden;
	background-color: white;
	padding: 10px 20px;
	display: inline-block;

	display: inline-block;
	position: fixed;
	text-align: center;

	border-radius: 2px;

	top:100px;
	left:100px;
}

.submit-menu p{
	font-size: 20px;
	font-weight: bold;
}

.submit-menu div{
	padding: 5px;
	text-align: center;
}

.submit-menu #div-submit{
	float:right;
}

.submit-menu .desc{
	padding-right: 5px;
}

.submit-menu .textbox{
	float: right;
}

.blanket{
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

.submit-menu.show{
	visibility: visible;
}

.blanket.show{
	visibility: visible;
}