.toolbar{
    width: calc(100% - 210px - 10px);
}

.toolbar ul {
    list-style-type: none;
    margin: 0 0 0 1px;
    padding: 0;

    overflow: hidden;
    background-color: #404040;
    border-radius: 3px;
}

.toolbar li {
    float: left;
}

.toolbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

.toolbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #AEB0B3;
}

.toolbar li.dropdown {
    display: inline-block;
}

.toolbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.toolbar .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.toolbar .dropdown-content a:hover {background-color: #f1f1f1}

.toolbar .dropdown:hover .dropdown-content {
    display: block;
}

input[type="file"] {
    display: none;
}
.loading {
    display: inline-block;
}