.user-menu{
	position: relative;
	float: right;
	top: 0px;
	width: 206px;
	height: calc(10% + 10px);

	/*
	background-color: white;
	border-radius: 8px;
	border: 2px solid grey;
	*/
}



.user-menu .auth{
	position: absolute;
	background-image: url(../img/bool-logo.png);

	height: 100%;
	padding-left: 100%;

	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-left: 5px;
	margin-right: 15px;
	margin-top: 10px;
}
