html{ 
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}

body{
	width: 100%;
	height: 100%;
	margin: 10px;
}

.workspace{ 

	width: 100%;
	height: 100%;

}

.workspace .grid{
	position: absolute;

	height: calc(100% - 300px);
	width: calc(100% - 210px - 30px);

	background-color: pink;
}

.workspace .grid-render{
	height: 100%;
	width: 100%;
}

.workspace .cmenu{
	position: absolute;

	left: calc(100% - 210px - 10px);

	width: 210px;
	height: calc(100% - 44px);

	background-color: green;

	overflow: auto;
}

.workspace .cmenu .onebyone{
	margin: 0 10px;
}

.workspace .cmenu .twobytwo{
	margin: 0 5px;
}

.workspace .console{
	position: absolute;

	top: calc(100% - 300px + 44px);

	width: calc(100% - 210px - 30px);
	height: calc(300px - 54px);

	background-color: blue;
}